fieldset,
legend,
button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: none;
	border: none;
	border-radius: 0;
	margin: 0;
	outline: none;
	padding: 0;
}

input[type="date"],
input[type="datetime-local"],
input[type="month"],
input[type="time"] {
	border: 1px solid #ccc;
	font-size: 16px;
	margin: 0;
	outline: none;
	padding: 4px;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="url"],
input[type="search"],
input[type="number"],
input[type="datetime"],
input[type="week"],
textarea,
select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: none;
	border: 1px solid #ccc;
	border-radius: 0;
	font-size: 16px;
	margin-left: 0;
	margin-right: 0;
	outline: none;
	padding: 4px;
}

textarea {
	height: 100px;
	overflow: auto;
	width: 100%;
}

select {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAALJJREFUeNrslssNgCAQRCmB0ijBEuyEEijBEijBEizBEnAPy0UBWVj8JDvJJB5w3gsXVUoikXwsBrpAPdRCNcOmxi2P2yZ3cIKGU9dOCY0b590pdXhPHOyRyMEDsi4JhVIlSvBYTRGgSNTAQ+pFyyBRC7e5AdchUQt3d1fYIsEGb5Fgh1MktlFwisQwOIeE4/pGuDfhLRLscIrEMHiNxHB4SeIxeMyMPxkenyUSyT9zCDAAj5btZ4c3zaUAAAAASUVORK5CYII=");
	background-position: right 8px center;
	background-repeat: no-repeat;
	background-size: 12px 12px;
	padding-right: 30px;
}

.select {
	background: #fff;
	display: inline-block;
	overflow: hidden;
	position: relative;
}

.select select {
	background: none;
	border: 1px solid #ccc;
	cursor: pointer;
	padding-right: 24px;
	text-overflow: "";
	width: 100%;
}

.select::before {
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #666;
	content: "";
	height: 0;
	padding: 0;
	pointer-events: none;
	position: absolute;
	right: 8px;
	top: 13px;
	width: 0;
}

/* radio & checkbox */

input[type="radio"],
input[type="checkbox"] {
	display: none;
}

input[type="radio"] + span,
input[type="checkbox"] + span {
	color: #555;
	cursor: pointer;
	display: inline-block;
	font-size: 1.4rem;
	line-height: 1;
	margin-left: 8px;
	padding: 10px 20px;
	position: relative;
	text-align: center;
}

input[type="radio"] + span::before,
input[type="checkbox"] + span::before {
	background: #fff;
	border: 1px solid #ccc;
	content: "";
	height: 16px;
	left: -8px;
	margin-top: -8px;
	position: absolute;
	top: 50%;
	width: 16px;
}

/* fieldset */

fieldset {
	border: 1px solid #ccc;
	padding: 8px 16px;
}

legend {
	padding: 0 8px;
}

/* button */

input[type="submit"],
input[type="reset"],
input[type="button"],
button {
	-webkit-box-sizing: content-box;
	-webkit-appearance: button;
	-moz-appearance: button;
	appearance: button;
	background: #efefef;
	border: 1px solid #999;
	border-radius: 0;
	color: #000;
	cursor: pointer;
	display: inline-block;
	font-size: 20px;
	margin: 0;
	padding: 10px 30px;
}

/* ブラウザ対策
---------------------------------------------------------------------------- */

/* Firefox */

/* IE */

select::-ms-expand {
	display: none;
}

/* webkit */

/* iOS */

input[type="submit"]::-webkit-search-decoration,
input[type=reset]::-webkit-search-decoration,
input[type="button"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-decoration {
	display: none;
}

::-webkit-search-cancel-button {
	-webkit-appearance: none;
}

input[type="search"]::-webkit-search-decoration {
	-moz-appearance: none;
	-webkit-appearance: textfield;
	-webkit-box-sizing: border-box;
	-webkit-appearance: none;
	appearance: none;
	background: none;
	border: 0;
	border-radius: 0;
	font-size: 16px;
	margin: 0;
	outline: none;
	padding: 0;
}

/* 挙動
---------------------------------------------------------------------------- */

/* hover */

input:hover,
textarea:hover,
select:hover {
	border-color: #666;
}

input[type="radio"] + span:hover,
input[type="checkbox"] + span:hover {
	color: #000;
}

input[type="radio"] + span:hover::before,
input[type="checkbox"] + span:hover::before {
	border-color: #000;
}

input[type="radio"] + span:hover::after,
input[type="checkbox"] + span:hover::after {
	background: #ccc;
	content: "";
	height: 8px;
	left: -4px;
	margin-top: -4px;
	position: absolute;
	top: 50%;
	width: 8px;
}

/* checked */

input[type="radio"]:checked + span,
input[type="checkbox"]:checked + span {
	color: #3498db;
}

input[type="radio"]:checked + span::before,
input[type="checkbox"]:checked + span::before {
	border-color: #3498db;
}

input[type="radio"]:checked + span::after,
input[type="checkbox"]:checked + span::after {
	background: #3498db;
	content: "";
	height: 8px;
	left: -4px;
	margin-top: -4px;
	position: absolute;
	top: 50%;
	width: 8px;
}

/* radio */

input[type="radio"] + span::before,
input[type="radio"] + span:hover::after,
input[type="radio"]:checked + span::after {
	border-radius: 50%;
}

/* button */

input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
button:hover {
	background: #3498db;
	border-color: #3498db;
	color: #fff;
}

/* focus */

input:focus,
textarea:focus {
	border-color: #3498db;
}

input[type="submit"]:focus,
input[type=reset]:focus,
input[type="button"]:focus,
input[type="search"]:focus {
	outline-offset: -2px;
}

/* disabled */

input:disabled,
input:disabled:hover,
textarea:disabled,
textarea:disabled:hover {
	background: #eee;
	border-color: #ccc;
	cursor: not-allowed;
}

input[type="radio"]:disabled + span,
input[type="checkbox"]:disabled + span {
	color: #ccc;
	cursor: not-allowed;
}

input[type="radio"]:disabled + span::before,
input[type="checkbox"]:disabled + span::before {
	border-color: #ccc;
	cursor: not-allowed;
}

/* バリデーション */

/* placeholder */

/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
	background: transparent;
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}

body {
	line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

nav ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

a {
	background: transparent;
	font-size: 100%;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

/* change colours to suit your needs */

ins {
	background-color: #ff9;
	color: #000;
	text-decoration: none;
}

/* change colours to suit your needs */

mark {
	background-color: #ff9;
	color: #000;
	font-style: italic;
	font-weight: bold;
}

del {
	text-decoration: line-through;
}

abbr[title],
dfn[title] {
	border-bottom: 1px dotted;
	cursor: help;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* change border colour to suit your needs */

hr {
	border: 0;
	border-top: 1px solid #cccccc;
	display: block;
	height: 1px;
	margin: 1em 0;
	padding: 0;
}

input,
select {
	vertical-align: middle;
}

* {
	font-family: fot-tsukuardgothic-std, sans-serif;
	font-style: normal;
	font-weight: 700;
}

.l-inner {
	height: inherit;
	margin: 0 auto;
	max-width: 1050px;
	padding-left: 25px;
	padding-right: 25px;
	width: 100%;
}

.c-test {
	color: red;
	font-size: 3.125rem;
}

.p-test {
	color: red;
	font-size: 3.125rem;
}

.flow-box {
	background-color: #FFAA89;
	padding-bottom: 240px;
	padding-top: 106px;
}

.flow-box .flow-box-inner {
	margin: 0 auto;
	width: 1531px;
}

.flow-box .flow-box-inner .flow-box {
	background-color: #fff;
	border-radius: 44px;
	height: 509px;
	margin: 50px auto;
	padding-left: 55px;
	padding-right: 100px;
	padding-top: 48px;
	width: 1530px;
}

.flow-box .flow-box-inner .flow-box h3.number {
	color: #F47458;
	font-size: 80px;
}

.flow-box .flow-box-inner .flow-box p {
	font-size: 36px;
	letter-spacing: 6px;
	line-height: 65px;
}

.flow-box .flow-box-inner .flow-box p.small {
	font-size: 24px;
	line-height: 41px;
}

.flow-box .flow-box-inner .flow-box1 p {
	width: 634px;
}

.flow-box .flow-box-inner .flow-box4 p {
	width: 634px;
}

.flow-box .flow-box-inner .flow-box5 p {
	width: 548px;
}

.flow-box .flow-box-inner .flow-box6 p {
	width: 717px;
}

.flow-box .flow-box-inner .flow-box7 p {
	width: 811px;
}

.flow-box .flow-box-inner .flow-box8 p {
	width: 1142px;
}

.flow-box .flow-box-inner .flow-btn {
	background: transparent linear-gradient(180deg, #FFAA89 0%, #FEA187 18%, #FD9D86 32%, #FB7D81 54%, #F74978 100%) 0% 0% no-repeat padding-box;
	border-radius: 65px;
	color: #fff;
	display: block;
	height: 123px;
	line-height: 123px;
	margin: 162px auto 0;
	width: 569px;
}

.flow-box .flow-box-inner .flow-btn p {
	font-size: 43px;
	line-height: 123px;
	text-align: center;
}

.flow-middle {
	text-align: center;
}

.flow-middle h2 {
	font-size: 56px;
	letter-spacing: 13.44px;
}

.flow-middle p {
	font-size: 30px;
	letter-spacing: 9.6px;
	line-height: 60px;
}

.flow-top .flow-top-menu {
	background-color: #00B8B8;
	height: 85px;
}

.flow-top .flow-top-menu ul {
	display: flex;
	list-style: none;
}

.flow-top .flow-top-menu ul li {
	margin: 0 18px;
}

.flow-top .flow-top-menu ul li a {
	color: #fff;
	font-size: 18px;
	line-height: 85px;
	text-decoration: none;
}

a {
	text-decoration: none;
}

img {
	vertical-align: bottom;
}

.top-mainvisual {
	overflow: hidden;
	position: relative;
}

.top-mainvisual .top-mainvisual__slider {
	width: 100%;
}

.top-mainvisual .top-mainvisual__slider .top-mainvisual__slider__item img {
	-o-object-fit: cover; /*背景画像をリピートしない*/
	background-position: center;
	background-repeat: no-repeat; /*背景画像の位置を中央に*/
	background-size: cover; /*各スライダー全体の横幅を画面の高さいっぱい（100%）にする*/
	height: 100vh;
	object-fit: cover;
	width: 100%; /*背景画像が.slider-item全体を覆い表示*/
}

.top-mainvisual .top-mainvisual__slider .slick-dots {
	bottom: calc(50vh - 60px);
	left: -45vw;
	transform: rotate(90deg);
	z-index: 3;
}

.top-mainvisual .top-mainvisual__slider .slick-dots li {
	width: 30px;
}

.top-mainvisual .top-mainvisual__slider .slick-dots li button:before {
	color: #c4d1d0;
	font-size: 20px;
	opacity: 1;
}

.top-mainvisual .top-mainvisual__slider .slick-dots li.slick-active button:before {
	color: #fff;
	opacity: 1;
}

.top-mainvisual .top-mainvisual__color {
	background: linear-gradient(to right, #662D91 0%, #29C8E2 100%);
	background: -webkit-linear-gradient(left, #662D91 0%, #29C8E2 100%);
	bottom: 0;
	height: 100vh;
	opacity: 0.25;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1;
}

.top-mainvisual .top-mainvisual__geometry {
	left: 10%;
	position: absolute;
	top: 18%;
	z-index: 2;
}

.top-mainvisual .top-mainvisual__geometry img {
	width: 140%;
}

.top-mainvisual .top-mainvisual__pattern {
	position: absolute;
	z-index: 4;
}

.top-mainvisual .pattern1 {
	left: 6%;
	top: 25%;
}

.top-mainvisual .pattern1 img {
	height: auto;
	width: 4.8vw;
}

.top-mainvisual .pattern2 {
	left: 88%;
	top: 30%;
}

.top-mainvisual .pattern2 img {
	height: auto;
	width: 6.4vw;
}

.top-mainvisual .pattern3 {
	left: 18%;
	top: 50%;
}

.top-mainvisual .pattern3 img {
	height: auto;
	width: 5.3vw;
}

.top-mainvisual .pattern4 {
	left: 44%;
	top: 49%;
}

.top-mainvisual .pattern4 img {
	height: auto;
	width: 5.8vw;
}

.top-mainvisual .pattern5 {
	left: 10%;
	top: 74%;
}

.top-mainvisual .pattern5 img {
	height: auto;
	width: 6.1vw;
}

.top-mainvisual .pattern6 {
	left: 79%;
	top: 67%;
}

.top-mainvisual .pattern6 img {
	height: auto;
	width: 4.4vw;
}

.top-mainvisual .pattern7 {
	left: 91%;
	top: 64%;
}

.top-mainvisual .pattern7 img {
	height: auto;
	width: 5.2vw;
}

.top-mainvisual .top-mainvisual__text {
	color: #fff;
	font-family: "ten-mincho-text", serif;
	font-size: 2.9vw;
	letter-spacing: 0.32;
	line-height: 1.2;
	position: absolute;
	right: 3%;
	text-shadow: 3px 1px 6px rgba(0, 0, 0, 0.72);
	top: 45%;
	z-index: 5;
}

.top-mainvisual .top-mainvisual__text .top-mainvisual__text__big {
	font-size: 5vw;
	font-weight: 200;
	letter-spacing: 0.3;
}

.top-mainvisual .top-mainvisual__btn {
	background: linear-gradient(to right, #94f990 0%, #27D5DA 100%);
	background: -webkit-linear-gradient(left, #94f990 0%, #27D5DA 100%);
	border-radius: 20px;
	bottom: 11vh;
	color: #fff;
	font-family: "fot-tsukuardgothic-std", sans-serif;
	font-size: 2.1vw;
	font-weight: 100;
	letter-spacing: 0.24;
	padding: 1.9vw 3.8vw;
	position: absolute;
	right: 3vw;
	z-index: 5;
}

.top-mainvisual .top-mainvisual__btn img {
	margin-left: 1.2vw;
	padding-bottom: -5px;
	width: 1.5vw;
}

@media screen and (min-width: 1440px) {

.u-hidden-pc {
	display: none;
}

}

@media screen and (max-width: 1023px) {

.l-inner {
	max-width: 33.75rem;
	padding-left: 20px;
	padding-right: 20px;
	width: 100%;
}

.c-test {
	color: green;
	font-size: 1.875rem;
}

}

@media screen and (max-width: 767px) {

.p-test {
	color: green;
	font-size: 1.875rem;
}

.u-hidden-sp {
	display: none;
}

}

