.each-course-top{
  background-image:url(../img/eclil/each-course-back.png);
  background-size: cover;
  background-position:center;
  background-repeat: no-repeat;

  .each-course-container{
    width:70%;
    max-width:1531px;
    margin:0 auto;
    padding:7.9vw 0;

    .each-course-top__title{
      font-size:2.1vw;
      color:#fff;
      margin:0 auto;
      width:35.8vw;
      height:6.7vw;
      display:flex;
      padding:2.3vw 5.3vw;
    }

    .eclil-top__img{
      display:flex;
      justify-content:space-between;
      margin-top:6.7vw;
      text-align:center;

      .eclil-top__esports{
        width:45%;

        .eclil-top__esports__icon{
          width:28%;
          margin:3.4vw auto;
        }

        .eclil-top__esports__text{
          font-size:2.1vw;
        }
      }   
      
      .eclil-top__times{
        width:10%;
        margin-top:8vw;
      }

      .eclil-top__english{
        width:45%;

        .eclil-top__english__icon{
          width:20%;
          margin:1.8vw auto 2.9vw;
        }

        .eclil-top__english__text{
          font-size:2.1vw;
        }
      } 
    }
  }
}

.eclil-top__title{
  background: linear-gradient(to right, #DA1467 0%, #FF992E 100%);
  background: -webkit-linear-gradient(left, #DA1467 0%, #FF992E 100%);
}