.each-course-faq__content{
  width:70%;
  max-width:1531px;
  margin:0 auto  calc(50px + 70 * (100vw - 768px) / 1152);
  text-align:center;

  .sp-br{
    display:none;
  }

  .each-course-faq__q{
    font-size:calc(32px + 24 * (100vw - 768px) / 1152);
    margin-bottom:calc(18px + 20 * (100vw - 768px) / 1152);
    letter-spacing:0.24em;

    .each-course-faq__q__en{
      color:#E57B60;
    }
  }

  .each-course-faq__a__week{
    font-size:calc(30px + 18 * (100vw - 768px) / 1152);
  }
   
  .each-course-faq__a__time{
    font-size:calc(28px + 20 * (100vw - 768px) / 1152);
    line-height:1.7;
    display:flex;
    justify-content:center;
    margin-top:calc(18px + 20 * (100vw - 768px) / 1152);

    p{
      margin:0 3vw;
    }

  } 

  .each-course-faq__a{
    font-size:calc(22px + 18 * (100vw - 768px) / 1152);
    line-height:1.8;
  }

  .each-course-faq__a__small{
    font-size:calc(18px + 10 * (100vw - 768px) / 1152);
    line-height:2.5;
    
  }
}

@media screen and (max-width:1279px){
  .each-course-faq__content{
    width:80%;
  }
}

@media screen and (max-width:797px){
  .each-course-faq__content{
    margin-bottom:calc(45px + 5 * (100vw - 320px) / 447);

    .sp-br{
      display:block;
    }
  
    .each-course-faq__q{
      font-size:calc(14px + 12 * (100vw - 320px) / 447);
    }
    
    .each-course-faq__a__week{
      font-size:calc(13px + 11 * (100vw - 320px) / 447)
    }
     
    .each-course-faq__a__time{
      font-size:calc(13px + 11 * (100vw - 320px) / 447)
    } 
  
    .each-course-faq__a{
      font-size:calc(12px + 12 * (100vw - 320px) / 447)
    }
  
    .each-course-faq__a__small{
      font-size:calc(10px + 10 * (100vw - 320px) / 447)
    }
  }
}
