.each-course-faq__content{
  width:70%;
  max-width:1531px;
  margin:0 auto 6.3vw;
  text-align:center;

  .sp-br{
    display:none;
  }

  .each-course-faq__q{
    font-size:2.9vw;
    margin-bottom:2.5vw;
    letter-spacing:0.24em;

    .each-course-faq__q__en{
      color:#E57B60;
    }
  }

  .each-course-faq__a__week{
    font-size:2.5vw;
  }
   
  .each-course-faq__a__time{
    font-size:2.5vw;
    line-height:1.7;
    display:flex;
    justify-content:center;
    margin-top:1.3vw;

    p{
      margin:0 3vw;
    }

  } 

  .each-course-faq__a{
    font-size:2.1vw;
    line-height:1.8;
  }

  .each-course-faq__a__small{
    font-size:1.5vw;
    line-height:2.5;
    
  }
}

@media screen and (max-width:1279px){
  .each-course-faq__content{
    width:80%;
  
    .each-course-faq__q{
      font-size:32px;
    }
  
    .each-course-faq__a__week{
      font-size:30px;
    }
     
    .each-course-faq__a__time{
      font-size:28px;
    } 
  
    .each-course-faq__a{
      font-size:22px;
    }
  
    .each-course-faq__a__small{
      font-size:18px;
    }
  }
}

@media screen and (max-width:797px){
  .each-course-faq__content{
    .sp-br{
      display:block;
    }
  
    .each-course-faq__q{
      font-size:4vw;
    }
  
    .each-course-faq__a__week{
      font-size:3.7vw;
    }
     
    .each-course-faq__a__time{
      font-size:3.7vw;
    } 
  
    .each-course-faq__a{
      font-size:3.4vw;
    }
  
    .each-course-faq__a__small{
      font-size:3vw;
    }
  }
}
