.steam-top__title{
  background: linear-gradient(to right, #2BB6C7 0%, #85C48D 100%);
  background: -webkit-linear-gradient(left, #2BB6C7 0%, #85C48D 100%);
  padding:2.3vw 10vw;
}

.steam-top__img{
  margin:4.2vw auto 4.7vw;
  width:100%;
  background:#fff;
  border-radius:1.6vw;
}

.steam-top__icon__icon{
  width:6.3vw;
}

@media screen and (max-width:1279){
  .steam-top__title{
    padding:28px 125px;
  }
}

@media screen and (max-width:797px){
  .steam-top__title{
    padding:5.3vw 15vw;
  }
  
  .steam-top__icon__icon{
    width:15vw;
  }
}