.plans-bottom {
	.plans-bottom-inner {
		background-color: #F5F5F5;
		margin-bottom: 6.5vw;
		padding-top: 6.5vw;
		h3 {
			font-size: 2.3vw;
			padding-right: auto;
			padding: auto;
			line-height: 3.4vw;
			margin-bottom: 4.1vw;
			letter-spacing: 0.32em;
			text-align: center;
		}
		.bottom-inner-text {
			padding: 0 7.5vw 6.7vw 15.5vw;
			h4 {
				font-size: 2vw;
				line-height: 3vw;
				letter-spacing: 0.32em;
			}
			p {
				font-size: 1.5vw;
				line-height: 3vw;
				letter-spacing: 0.32em;
			}
		}
	}
	.btn-green {
		margin-bottom: 5.7vw;
		background: linear-gradient(to top, #27D5DA 0%, #94F990 100%);
		background: -webkit-linear-gradient(bottom, #27D5DA 0%, #94F990 100%);
		width: 28%;
		margin: 0 auto;
		text-align: center;
		padding: 1.9vw;
		border-radius: 65px;
			display: block;
			color: #fff;
			font-size: 2vw;
			letter-spacing: 0.24em;
	}
	@media screen and (max-width: 767px) {
		.plans-bottom-inner {
			background-color: #F5F5F5;
			margin-bottom: 6.5vw;
			padding-top: 6.5vw;
			padding-bottom: 6.5vw;
			h3 {
				font-size: 4.5vw;
				line-height: 5.5vw;
				padding-right: auto;
				padding: auto;
				margin-bottom: 4.1vw;
				letter-spacing: 0.32em;
				text-align: center;
			}
			.bottom-inner-text {
				padding: 0;
				margin: 0 auto;
				width: 90%;
				h4 {
					line-height: 5vw;
					font-size: 4vw;
					letter-spacing: 0.32em;
				}
				p {
					font-size: 3.3vw;
					line-height: 4.5vw;
					letter-spacing: 0.32em;
				}
			}
		}
		.btn-green {
			margin-bottom: 5.7vw;
			width: 50%;
			font-size: 3.3vw;
			letter-spacing: 0.32em;
			line-height: 4.5vw;
		}
	}
}