.plans-bottom {
	.plans-bottom-inner {
		background-color: #F5F5F5;
		margin-bottom: 6.5vw;
		padding-top: 6.5vw;
		h3 {
			font-size: 2.3vw;
			padding-right: auto;
			padding: auto;
			line-height: 3.4vw;
			margin-bottom: 4.1vw;
			letter-spacing: 0.32em;
			text-align: center;
		}
		.bottom-inner-text {
			padding: 0 7.5vw 6.7vw 15.5vw;
			h4 {
				font-size: 2vw;
				line-height: 3vw;
				letter-spacing: 0.32em;
			}
			p {
				font-size: 1.5vw;
				line-height: 3vw;
				letter-spacing: 0.32em;
			}
		}
	}
	.btn-green {
		margin-bottom: 5.7vw;
	}
	@media screen and (max-width: 767px) {
		.plans-bottom-inner {
<<<<<<< HEAD
			background-color: #F5F5F5;
			margin-bottom: 6.5vw;
			padding-top: 6.5vw;
=======
>>>>>>> origin
			padding-bottom: 6.5vw;
			h3 {
				font-size: 4.5vw;
				line-height: 5.5vw;
<<<<<<< HEAD
				padding-right: auto;
				padding: auto;
				margin-bottom: 4.1vw;
				letter-spacing: 0.32em;
				text-align: center;
=======
>>>>>>> origin
			}
			.bottom-inner-text {
				padding: 0;
				margin: 0 auto;
				width: 90%;
				h4 {
					line-height: 5vw;
					font-size: 4vw;
<<<<<<< HEAD
					letter-spacing: 0.32em;
=======
>>>>>>> origin
				}
				p {
					font-size: 3.3vw;
					line-height: 4.5vw;
<<<<<<< HEAD
					letter-spacing: 0.32em;
=======
>>>>>>> origin
				}
			}
		}
		.btn-green {
			margin-bottom: 5.7vw;
		}
	}
}