.terms {
  .terms-top-menu {
    height: 85px;
    ul {
      background-color: #00b8b8;
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      li {
        margin: 0 18px;
        a {
          color: #fff;
          text-decoration: none;
          font-size: 18px;
          line-height: 85px;
        }
      }
    }
  }

  .terms-top-menu li {
    font-size: 18px;
    color: #fff;
    font-family: fot-tsukuardgothic-std, sans-serif;
    font-style: normal;
    font-weight: 700;
  }

  p,
  li,
  label,
  td {
    font-family: "source-han-sans-japanese", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    line-height: 68px;
  }

  h2 {
    font-family: "source-han-sans-japanese", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    line-height: 68px;
    margin-top: 68px;
  }

  th {
    font-family: "source-han-sans-japanese", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    line-height: 68px;
  }

  //リストスタイル
  .terms-tab-wrapper__tab_content__list-number ol {
    margin: 1em 0;
    padding-left: 40px;
    list-style-type: decimal;
  }

  .terms-tab-wrapper__tab_content__list-text ul {
    margin: 1em 0;
    padding-left: 40px;
    list-style-type: disc;
  }

  .terms-tab-wrapper {
    display: flex;
    justify-content: center;
    max-width: 80%;
    padding: 0 150px;
    margin-top: 250px;
  }

  // 表示切り替えボタン
  .tab_item {
    display: block;
    width: 365px;
    border-bottom: 6px solid #85c48d;
    border-image: linear-gradient(to top, #85c48d 0%, #2bb6c7 100%);
    border-image-slice: 1;
    padding: 0px 0 5px 0;
    margin: 0 60px 97px 0;
    line-height: 24px;
  }

  /*選択されているタブのコンテンツのみを表示*/
  #privacy:checked ~ #privacy_content,
  #law:checked ~ #law_content,
  #terms:checked ~ #terms_content {
    display: block;
  }

  .terms-tab-wrapper__tab_content {
    max-width: 1254px;
  }

  .terms-tab-wrapper__tab_content__contact {
    padding: 68px 72px 34px 72px;
    background-color: #fff;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 30px;
    opacity: 1;
    margin-top: 68px;
  }
  .terms-tab-wrapper__tab_content__contact__title {
    margin-bottom: 34px;
    line-height: 24px;
  }

  // 特定商取引法に基づく表記
  .law_content th,
  .law_content td {
    padding: 20px;
    border: solid 1px #d6d6d6;
    text-align: left;
  }
  .law_content-list ul {
    list-style-position: inside;
    list-style-type: circle;
  }

  .lastline-txt p {
    text-align: right;
  }
}
