.terms {
  .terms-top-menu {
    height: 85px;
    background-color: #00b8b8;
  }
  h1 {
    font-size: 18px;
    color: #fff;
    font-family: fot-tsukuardgothic-std, sans-serif;
    font-style: normal;
    font-weight: 700;
    vertical-align: middle;
    height: 85px;
    line-height: 85px;
    margin-left: 67px;
  }
  p,
  li,
  td {
    font-family: "source-han-sans-japanese", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    line-height: 68px;
  }

  .privacy-title,
  .tokushoho-title,
  .terms-title {
    font-family: "source-han-sans-japanese", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    line-height: 24px;
    list-style: none;
  }

  .privacy-title {
    margin-top: 60px;
  }

  .terms-wrapper__btn a {
    color: #000000;
  }

  h2 {
    font-family: "source-han-sans-japanese", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    line-height: 68px;
    margin-top: 68px;
  }

  th {
    font-family: "source-han-sans-japanese", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    line-height: 68px;
  }

  //リストスタイル
  .terms-wrapper__content__list-number ol {
    padding-left: 30px;
    list-style-type: decimal;
  }

  .terms-wrapper {
    display: flex;
    justify-content: center;
    padding: 0 150px;
    margin-top: 250px;
  }

  .terms-wrapper__content__contact {
    padding: 68px 72px 34px 72px;
    background-color: #fff;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 30px;
    opacity: 1;
    margin-top: 68px;
  }
  .terms-wrapper__content__contact__title {
    margin-bottom: 34px;
    line-height: 24px;
  }

  .tokushoho_content-list ul {
    list-style-position: inside;
    list-style-type: circle;
  }

  .lastline-txt p {
    text-align: right;
  }
  @media screen and (min-width: 1280px) {
    // 表示切り替えボタン
    .terms-wrapper__btn li {
      list-style: none;
      display: block;
      width: 365px;
      border-bottom: 6px solid #85c48d;
      border-image: linear-gradient(to top, #85c48d 0%, #2bb6c7 100%);
      border-image-slice: 1;
      padding: 0px 0 5px 0;
      margin: 0 60px 97px 0;
      line-height: 24px;
    }
    // 特定商取引法に基づく表記
    .tokushoho_content th,
    .tokushoho_content td {
      padding: 20px;
      border: solid 1px #d6d6d6;
      text-align: left;
    }
    .tokushoho_content th {
      max-width: 250px;
    }

    .tokushoho_content td {
      max-width: 861px;
    }
    .content-list-circle ul {
      list-style-position: inside;
      list-style-type: circle;
      padding-left: 1em;
      text-indent: -1em;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    // 表示切り替えボタン
    .terms-wrapper__btn li {
      list-style: none;
      display: block;
      width: 365px;
      border-bottom: 6px solid #85c48d;
      border-image: linear-gradient(to top, #85c48d 0%, #2bb6c7 100%);
      border-image-slice: 1;
      padding: 0px 0 5px 0;
      margin: 0 60px 97px 0;
      line-height: 24px;
    }
    // 特定商取引法に基づく表記
    .tokushoho_content th,
    .tokushoho_content td {
      padding: 20px;
      border: solid 1px #d6d6d6;
      text-align: left;
    }
    .tokushoho_content th {
      max-width: 250px;
    }

    .tokushoho_content td {
      max-width: 861px;
    }
    .content-list-circle ul {
      list-style-position: inside;
      list-style-type: circle;
      padding-left: 1em;
      text-indent: -1em;
    }
  }

  @media screen and (max-width: 767px) {
    .terms-top-menu {
      height: 46px;
      background-color: #00b8b8;
    }
    h1 {
      font-size: 16px;
      color: #fff;
      font-family: fot-tsukuardgothic-std, sans-serif;
      font-style: normal;
      font-weight: 700;
      vertical-align: middle;
      height: 46px;
      line-height: 46px;
      margin-left: 67px;
    }
    p,
    li,
    td {
      font-family: "source-han-sans-japanese", sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 16px;
      line-height: 28px;
    }

    .privacy-title,
    .tokushoho-title,
    .terms-title {
      font-family: "source-han-sans-japanese", sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 16px;
      line-height: 16px;
      list-style: none;
    }

    .terms-wrapper__btn a {
      color: #000000;
    }

    h2 {
      font-family: "source-han-sans-japanese", sans-serif;
      font-weight: 700;
      font-style: normal;
      font-size: 16px;
      line-height: 28px;
      margin-top: 32px;
    }

    th {
      font-family: "source-han-sans-japanese", sans-serif;
      font-weight: 700;
      font-style: normal;
      font-size: 16px;
      line-height: 28px;
    }

    .terms-wrapper {
      display: flex;
      flex-direction: column-reverse;
      padding: 0 30px;
      margin-top: 60px;
    }

    // 表示切り替えボタン
    .terms-wrapper__btn li {
      list-style: none;
      display: block;
      border-bottom: 6px solid #85c48d;
      border-image: linear-gradient(to top, #85c48d 0%, #2bb6c7 100%);
      border-image-slice: 1;

      margin: 60px 0;
      line-height: 24px;
    }

    .terms-wrapper__content__contact {
      padding: 30px;
      background-color: #fff;
      box-shadow: 0px 3px 6px #00000029;
      border-radius: 30px;
      opacity: 1;
      margin-top: 28px;
    }
    .terms-wrapper__content__contact__title {
      margin-bottom: 30px;
      line-height: 24px;
    }

    // 特定商取引法に基づく表記
    .tokushoho_content th {
      display: block;
      width: 100%;
      padding: 16px 0 0 16px;
      text-align: left;
      border: solid 1px #d6d6d6;
      border-width: 1px 1px 0 1px;
    }

    .tokushoho_content td {
      display: block;
      width: 100%;
      padding: 16px;
      border: solid 1px #d6d6d6;
      text-align: left;
      border-width: 0px 1px 0px 1px;
    }
    tr:last-child td {
      border-width: 0px 1px 1px 1px;
    }

    .content-list-circle ul {
      list-style-position: inside;
      list-style-type: circle;
      padding-left: 1em;
      text-indent: -1em;
    }

    .lastline-txt p {
      text-align: right;
    }
  }
}
