.course-bottom {
	margin-bottom: 13vw;
	h2.title {
		font-size: 2.8vw;
		line-height: 3.4vw;
		border-bottom: 3px solid #2B3B77;
		width: fit-content;
		margin: 12vw auto 2.3vw;
		color: #2B3B77;
	}
	.bottom-under-title {
		background-image: url(../img/course/bottom-bg.png);
		background-size: 150%;
		background-position: center;
		.course-bottom-inner {
			margin-left: 13%;
			margin-right: 5%;
			display: flex;
			.bottom-left {
				margin-right: auto;
				h2 {
					font-size: 2.8vw;
					line-height: 3.4vw;
					font-family: ten-mincho-text, serif;
					font-weight: 400;
					text-align: initial;
					font-style: normal;
					margin: 9.5vw auto 3.3vw;
					letter-spacing: .24em;
				}
				h3 {
					font-size: 2vw;
					line-height: 3.5vw;
					letter-spacing: .24em;
				}
				.btn-green {
					margin-top: 4.2vw;
					width: 19.5vw;
					transition: all .3s;
					-webkit-transition: all .3s; 
			
					&:hover{
						opacity: 0.8; 
						filter: brightness(110%); 
					}
					img {
						width: 100%;
					}
				}
			}
			.bottom-right {
				width: 46%;
				padding-top: 4.5vw;
				padding-bottom: 5vw;
				img {
					width: 100%;
				}
			}
		}
	}
	@media screen and (max-width:767px) {
		margin-bottom: 13vw;
		h2.title {
			font-size: 5vw;
			line-height: 6vw;
			border-bottom: 3px solid #2B3B77;
			width: fit-content;
			text-align: center;
			margin-bottom:calc(15px + 5 * (100vw - 320px) / 447);
		}
		.bottom-under-title {
			background-repeat: no-repeat;
			background-size: 450%;
			.course-bottom-inner {
				margin: 0 auto;
				display: block;
				.bottom-left {
					width: 90%;
					margin: 0 auto;
					padding-top: 4.5vw;
					h2 {
						font-size: 6vw;
						line-height: 7.5vw;
						font-family: ten-mincho-text, serif;
						font-weight: 400;
						text-align: initial;
						font-style: normal;
						margin: 9.5vw auto 3.3vw;
					}
					h3 {
						font-size: 4.5vw;
						line-height: 5.5vw;
						font-family: ten-mincho-text, serif;
					}
					.btn-green {
						margin-top: 4.2vw;
						width: 45vw;
						img {
							width: 100%;
						}
					}
				}
				.bottom-right {
					width: 70%;
					margin: 0 auto;
					padding-top: 4.5vw;
					padding-bottom: 5vw;
					img {
						width: 100%;
					}
				}
			}
		}
	}
}