.course-middle-top {
	margin-left: 16%;
	margin-right: 11%;
	h1 {
		font-size: 2.8vw;
		letter-spacing: .24em;
		margin-bottom: 5vw;
		margin-top: 8vw;
	}
	.course-middle-inner {
		display: flex;
		.course-middle-text {
			letter-spacing: .24em;
			margin-right: auto;
			font-size: 1.4vw;
			line-height: 3.4vw;
		}
		.course-middle-img {
			width: 33%;
			img {
				width: 100%;
			}
		}
	}
	@media screen and (max-width: 767px) {
		margin: 0 auto;
		width: 95%;
		padding:0 10px;
		h1{
			font-size: 4.5vw;
			letter-spacing: .24em;
			margin-bottom: 5vw;
			margin-top: 8vw;
		}
		.course-middle-inner {
			display: block;
			.course-middle-text {
				letter-spacing: .36em;
				margin-right: auto;
				font-size: 3.5vw;
				line-height:1.7;
				margin-bottom: 10vw;
			}
			.course-middle-img {
				width: 80%;
				margin: 0 auto;
				img {
					width: 100%;
				}
			}
		}
	}
}