.course-middle-top {
	margin-left: 16%;
	margin-right: 11%;
	h2 {
		font-size: 2.8vw;
		letter-spacing: .24em;
		margin-bottom: 5vw;
		margin-top: 8vw;
	}
	.course-middle-inner {
		display: flex;
		.course-middle-text {
			letter-spacing: .24em;
			margin-right: auto;
			font-size: 1vw;
			line-height: 3.4vw;
		}
		.course-middle-img {
			width: 33%;
			img {
				width: 100%;
			}
		}
	}
}