.flow-top {
	.flow-top-menu {
		background-color: #00B8B8;
		height: 85px;
		ul {
			list-style: none;
			display: flex;
			li {
				margin: 0 18px;
				a {
					color: #fff;
					text-decoration: none;
					font-size: 18px;
					line-height: 85px;
				}
			}
		}
	}
}