.flow-middle {
	text-align: center;
	.flow-middle-bottom {
		display: flex;
	}
	h2 {
		font-size: 2.8vw;
		margin-top: 6.5vw;
		margin-bottom: 3.5vw;
		letter-spacing: 13.44px;
	}
	p {
		font-size: 1.5vw;
		letter-spacing: 9.6px;
		line-height: 60px;
	}
	@media screen and (max-width: 767px) {
		h2 {
			font-size: 5vw;
			line-height: 6vw;
			letter-spacing: 13.44px;
		}
		p {
			text-align: justify;
			font-size: 3.3vw;
			line-height: 4.5vw;
			margin: 0 2%;
		}
	}
}