.flow-box {
	background-image: url(../img/flow/flow-bg.jpg);
	.flow-box-inner {
		width: 100%;
		margin: 0 auto;
		.flow-box {
			background-color: #fff;
			background-image: none;
			width: 95%;
			height: 25.4vw;
			box-sizing: border-box;
			padding-right: 100px;
			padding-left: 55px;
			margin: 50px auto;
			border-radius: 44px;
			display: flex;
			h3.number {
				color: #F47458;
				font-size: 80px;
			}
			p {
				font-size: 1.8vw;
				line-height: 3.2vw;
				letter-spacing: 6px;
			}
			p.small {
				font-size: 24px;
				line-height: 41px;
			}
			.flow1-img, .flow2-img, .flow3-img,
			.flow4-img, .flow5-img, .flow6-img,
			.flow7-img, .flow8-img {
				width: 17.2vw;
				img {
					width: 100%;
				}
			}
		}
		.flow-btn {
			border-radius: 65px;
			height: auto;
			width: 30%;
			display: block;
			line-height: 123px;
			color: #fff;
			margin: 162px auto 0;
			background: transparent linear-gradient(180deg, #FFAA89 0%, #FEA187 18%, #FD9D86 32%, #FB7D81 54%, #F74978 100%) 0% 0% no-repeat padding-box;
			p {
				font-size: 43px;
				text-align: center;
				line-height: 123px;
			}
		}
	}
	@media screen and (max-width:767px) {
		.flow-box-inner {
			padding-top: 10vw;
			padding-bottom: 10vw;
			width: 100%;
			margin: 0 auto;
			.flow-box {
				background-color: #fff;
				background-image: none;
				width: 95%;
				height: auto;
				box-sizing: border-box;
				padding: 0;
				margin: 50px auto;
				border-radius: 44px;
				display: block;
				h3.number {
					color: #F47458;
					font-size: 7vw;
				}
				p {
					font-size: 3.3vw;
					line-height: 4.5vw;
					letter-spacing: 6px;
				}
				p.small {
					font-size: 24px;
					line-height: 41px;
				}
				.flow1-img, .flow2-img, .flow3-img,
				.flow4-img, .flow5-img, .flow6-img,
				.flow7-img, .flow8-img {
					width: 17.2vw;
					img {
						width: 100%;
					}
				}
			}
			.flow-btn {
				border-radius: 65px;
				height: auto;
				width: 30%;
				display: block;
				line-height: 123px;
				color: #fff;
				margin: 8vw auto 0;
				background: transparent linear-gradient(180deg, #FFAA89 0%, #FEA187 18%, #FD9D86 32%, #FB7D81 54%, #F74978 100%) 0% 0% no-repeat padding-box;
				p {
					font-size: 2vw;
					text-align: center;
					line-height: 6vw;
				}
			}
		}
	}
}