.top-container{
  width:80%;
  max-width:1531px;
  margin:0 auto;
  padding:9.4vw 0;
  font-family:"fot-tsukuardgothic-std", sans-serif;
  letter-spacing:0.24em;
  line-height:1.5;
}

.insta-container{
  width:85%;
  max-width:1626px;
  margin:0 auto;
  padding:9.4vw 0 0;
  font-family:"fot-tsukuardgothic-std", sans-serif;
  letter-spacing:0.24em;
  line-height:1.5;
}

.top-learn{
  background-image:url(../img/top/learn-back.png);
  background-size: cover;
  background-position:left;
  background-repeat: no-repeat;

  .top-container{
    padding:0 0 9.4vw;
  }


  .top-learn__insta{
    display:flex;
    justify-content:left;

    .top-learn__insta__insta{
      width:10%;
      margin-right:80px;
      color:#3E3A39;
      font-size:1.2vw;
      font-family:"Noto Sans JP";
      font-weight:bold;
      letter-spacing:0;
      transition: all .3s;
      -webkit-transition: all .3s; 
  
      &:hover{
        opacity: 0.8; 
        filter: brightness(110%); 
      }
      
      img{
        margin:0 auto 1.9vw;
      }
    }

    .top-learn__insta__feed{
      overflow:hidden;
      width:70%;
      height:30vw;
      border-radius:30px;

      #sb_instagram{
        width:100%;
      }
      .sbi_item:nth-child(1){
        .sbi_photo_wrap{
          padding:0 2px 2px 0;
        }
      }
      .sbi_item:nth-child(2){
        .sbi_photo_wrap{
          padding:0 1px 2px;
        }
      }
      .sbi_item:nth-child(3){
        .sbi_photo_wrap{
          padding:0 0 2px 2px;
        }
      }
      .sbi_item:nth-child(4){
        .sbi_photo_wrap{
          padding:1px 2px 0 0;
        }
      }
      .sbi_item:nth-child(5){
        .sbi_photo_wrap{
          padding:1px 1px 0;
        }
      }
      .sbi_item:nth-child(6){
        .sbi_photo_wrap{
          padding:1px 0 0 2px;
        }
      }
    }
  }

  .top-learn__text{
    display:flex;
    justify-content:space-between;
    align-items:center; 
    margin-top:9.4vw;

    .top-learn__text__text{
      width:62%;
      font-family: "ten-mincho-text", serif;

      .top-learn__text__title{
        font-size:3.5vw;
        font-weight:100;
      }

      .top-learn__text__content{
        font-size:1.6vw;
        font-weight:200;
        padding:3vw 4.4vw 0 0;
      }
    }

    .top-learn__text__img{
      width:38%;
    }
  }
}


.fade-in{
  transform: translateY(150px);
  opacity: 0;
}

.fade-in.is-active{
  transition: 1.5s;
  transform: translateY(0);
  opacity: 1;
}


.slide-in-left{
  transform: translateX(-150px);
  opacity: 0;
}

.slide-in-left.is-active{
  transition: 1.5s;
  transform: translateX(0);
  opacity: 1;
}

.slide-in-right{
  transform: translateX(150px);
  opacity: 0;
}

.slide-in-right.is-active{
  transition: 1.5s;
  transform: translateX(0);
  opacity: 1;
}





@media screen and (max-width:1279px){  
  .top-learn{ 
    .top-learn__insta{  
      .top-learn__insta__insta{
        width:18%;
        font-size:1.8vw;
      
        img{
          margin:0 auto 10px;
        }
      }
  
      .top-learn__insta__feed{
        width:78%;
      
      }
    }
  
    .top-learn__text{ 
      .top-learn__text__text{
        width:70%;
      }
  
      .top-learn__text__img{
        width:38%;
      }
    }
  }
}

@media screen and (max-width:797px){
  .top-container{
    width:90%;
  }

  .top-learn{ 
    .top-learn__insta{
      flex-direction:column;
  
      .top-learn__insta__insta{
        display:flex;
        align-items:center;
        text-align:left;
        font-size:2.2vw;
        transition: all .3s;
        -webkit-transition: all .3s; 
    
        &:hover{
          opacity: 0.8; 
          filter: brightness(110%); 
        }

        img{
          width:12.5vw;
          margin:0 auto 1vw;
        }
      }
  
      .top-learn__insta__feed{
        border-radius:10px;
      }
    }
  
    .top-learn__text{
      flex-direction:column;
  
      .top-learn__text__text{
        width:100%;
  
        .top-learn__text__title{
          font-size:5.3vw;
        }
  
        .top-learn__text__content{
          font-size:3.4vw;
          padding:3vw 0;
        }
      }
  
      .top-learn__text__img{
        width:70%;
      }
    }
  }

  .slide-in-left{
    transform: translateY(150px);
    opacity: 0;
  }
  
  .slide-in-left.is-active{
    transition: 1.5s;
    transform: translateY(0);
    opacity: 1;
  }
  
  .slide-in-right{
    transform: translateY(150px);
    opacity: 0;
  }
  
  .slide-in-right.is-active{
    transition: 1.5s;
    transform: translateY(0);
    opacity: 1;
  }
}