.top-container{
  width:80%;
  max-width:1531px;
  margin:0 auto;
  padding:9.4vw 0;
  font-family:"fot-tsukuardgothic-std", sans-serif;
  letter-spacing:0.24em;
  line-height:1.5;
}

.top-learn{
  background-image:url(../img/top/learn-back.png);
  background-size: cover;
  background-position:left;
  background-repeat: no-repeat;

  .top-learn__insta{
    display:flex;
    justify-content:space-between;

    .top-learn__insta__insta{
      width:10%;
      color:#3E3A39;
      font-size:1.2vw;
      font-family:"Noto Sans JP";
      font-weight:bold;
      letter-spacing:0;
      

      img{
        margin:0 auto 1.9vw;
      }
    }

    .top-learn__insta__photo{
      width:82%;
    }
  }

  .top-learn__text{
    display:flex;
    justify-content:space-between;
    align-items:center; 
    margin-top:9.4vw;

    .top-learn__text__text{
      width:62%;
      font-family: "ten-mincho-text", serif;

      .top-learn__text__title{
        font-size:3.5vw;
        font-weight:100;
      }

      .top-learn__text__content{
        font-size:1.6vw;
        font-weight:200;
        padding:3vw 4.4vw 0 0;
      }
    }

    .top-learn__text__img{
      width:38%;
    }
  }
}


.fade-in{
  transform: translateY(150px);
  opacity: 0;
}

.fade-in.is-active{
  transition: 1.5s;
  transform: translateY(0);
  opacity: 1;
}


.slide-in-left{
  transform: translateX(-150px);
  opacity: 0;
}

.slide-in-left.is-active{
  transition: 1.5s;
  transform: translateX(0);
  opacity: 1;
}

.slide-in-right{
  transform: translateX(150px);
  opacity: 0;
}

.slide-in-right.is-active{
  transition: 1.5s;
  transform: translateX(0);
  opacity: 1;
}





@media screen and (max-width:1279px){  
  .top-learn{ 
    .top-learn__insta{  
      .top-learn__insta__insta{
        width:18%;
        font-size:1.8vw;
      
        img{
          margin:0 auto 10px;
        }
      }
  
      .top-learn__insta__photo{
        width:78%;
      }
    }
  
    .top-learn__text{ 
      .top-learn__text__text{
        width:70%;
      }
  
      .top-learn__text__img{
        width:38%;
      }
    }
  }
}

@media screen and (max-width:797px){
  .top-container{
    width:90%;
  }

  .top-learn{ 
    .top-learn__insta{
      flex-direction:column;
  
      .top-learn__insta__insta{
        display:flex;
        align-items:center;
        text-align:left;
        font-size:2.2vw;

        img{
          width:12.5vw;
          margin:0 auto 1vw;
        }
      }
  
      .top-learn__insta__photo{
        width:100%;
      }
    }
  
    .top-learn__text{
      flex-direction:column;
  
      .top-learn__text__text{
        width:100%;
  
        .top-learn__text__title{
          font-size:5.3vw;
        }
  
        .top-learn__text__content{
          font-size:3.4vw;
          padding:3vw 0;
        }
      }
  
      .top-learn__text__img{
        width:70%;
      }
    }
  }

  .slide-in-left{
    transform: translateY(150px);
    opacity: 0;
  }
  
  .slide-in-left.is-active{
    transition: 1.5s;
    transform: translateY(0);
    opacity: 1;
  }
  
  .slide-in-right{
    transform: translateY(150px);
    opacity: 0;
  }
  
  .slide-in-right.is-active{
    transition: 1.5s;
    transform: translateY(0);
    opacity: 1;
  }
}