.top-lesson{
  margin-top:8vw;
  color:#fff;
  text-align:center;
  background-image:url(../img/top/lesson-back.png);
  background-size: cover;
  background-position:center;
  background-repeat: no-repeat;
  position:relative;

  .tb-br{
    display:none;
  }

  .top-lesson__square{
    margin:4.2vw 0;
    padding:1.4vw 2.9vw;
    background: linear-gradient(to right, #FFAA89 0%, #F74978 100%);
    background: -webkit-linear-gradient(left, #FFAA89 0%, #F74978 100%);
    display:inline-block;
    line-height:1.2;

    .top-lesson__square__small{
      font-size:3vw;
      font-weight: 700;
      font-style: normal;
    }

    .top-lesson__square__big{
      font-size:3.4vw;
      font-weight: 700;
      font-style: normal;
    }
  }
  
  .top-lesson__btn{
    display:inline-block;
    margin:3.7vw auto 0;
    padding:1.9vw 6vw 1.9vw 4vw;
    font-size:1.9vw;
    color:#fff;
    font-family:fot-tsukuardgothic-std, sans-serif;
    font-weight: 700;
    font-style: normal;;
    background: linear-gradient(to right, #27D5DA 0%, #94F990 100%);
    background: -webkit-linear-gradient(left, #27D5DA 0%, #94F990 100%);
    position:relative;
    border-radius:40px;
    transition: all .3s;
    -webkit-transition: all .3s; 

    &:hover{
      opacity: 0.8; 
      filter: brightness(110%); 
    }
    
    img{
      position:absolute;
      width:1.4vw;
      height:2.1vw;
      top:calc(50% - 1vw);
      margin-left:1.6vw;
    }
  }

  .top-lesson__pic{
    width:14vw;
    position:absolute;
    left:50px;
    top:300px;
  }
}

@media screen and (max-width:1279px){
  .top-lesson{
    .tb-br{
      display:block;
    }      

    .top-lesson__pic{
      left:20px;
      top:150px;
    }
  }
}
  
@media screen and (max-width:797px){
  .top-lesson{  
    .top-lesson__square__small{
      font-size:3.8vw;
    }

    .top-lesson__square__big{
      font-size:4.3vw;
    }
    
    .top-lesson__btn{
      font-size:3.5vw;
      
      img{
        position:absolute;
        width:1.8vw;
        height:2.5vw;
        top:calc(50% - 1.2vw);
        margin-left:1.6vw;
      }
    }
  
    .top-lesson__pic{
      display:none;
    }
  }
}
  

