.l-footer {
	background-color: #2C3B77;
	color: #fff;
	font-size: 1.25vw;
	line-height: 1.5vw;
	.footer-top {
		margin-left: 6%;
		.footer-logo {
			width: 21%;
			img {
				width: 100%;
			}
		}
		.footer-info {
			padding-bottom: 5vw;
		}
	}
	.footer-middle {
		margin-left: 6%;
		.footer-menu {
			display: flex;
			h4 {

			}
			ul {
				list-style: none;
				li a {
					color: #fff;
				}
			}
		}
	}
	.footer-bottom {
		width: fit-content;
		margin-left: auto;
		margin-right: 2.6vw;
		font-size: 1vw;
	}
}