.l-header {
	display: flex;
	.header-logo {
		width: 260px;
		margin: auto auto auto 2.5vw;
		img {
			width: 100%;
		}
	}
	.header-menu-pc {
		width: 43%;
		margin-left: auto;
		ul {
			justify-content: space-around;
			list-style: none;
			display: flex;
			height: 100%;
			li {
				line-height: 100%;
				display: flex;
				box-sizing: border-box;
				align-items: center;
				padding-top: 2.5vw;
				padding-bottom: 1.5vw;
				a {
					color: #3E3A39;
					line-height: 130%;
					text-align: center;
					position: relative;
					display: inline-block;
					text-decoration: none;
					
					&::after {
						position: absolute;
						bottom: -4px;
						left: 0;
						content: '';
						width: 100%;
						height: 2px;
						background: #3E3A39;
						transform: scale(0, 1);
						transform-origin: right top;
						transition: transform .3s;
					}
					&:hover::after {
						transform-origin: left top;
						transform: scale(1, 1);
					}
				}
			}
		}
	}
	.hamburger {
		display: none;
		z-index: 12;
		width: 42px;
		height: 42px;
		margin-top: auto;
		margin-bottom: auto;
		margin-right: 30px;
		cursor: pointer;
		text-align: center;
		span:nth-child(1) {
			margin-top: 10px;
		}
		span:nth-child(2) {
			margin-top: 10px;
		}
		span:nth-child(3) {
			margin-top: 10px;
		}
		span {
			display: block;
			width: 30px;
			height: 3px;
			background: #000;
			transition: 0.3s ease-in-out;
		}
	}
	.hamburger.active {
		margin-top: 30px;
		span:nth-child(1) {
			margin-top: 30px;
			position: absolute;
			top: 16px;
			right: 30px;
			background: #fff;
			transform: rotate(-45deg);
		}
		span:nth-child(2) {
			position: absolute;
			top: 16px;
			right: 30px;
			margin-top: 30px;
			background: #fff;
			transform: rotate(45deg);
		}
		span:nth-child(3) {
			display: none;
		}
	}
	nav.globalnav_sp {
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		color: #fff;
		background: #2C3B77;
		text-align: center;
		width: 100%;
		height: 100%;
		opacity: 0;
		z-index: -1;
		transition: opacity .6s ease, visibility .6s ease;
		ul {
			list-style: none;
			margin-top: 30px;
			li {
				list-style-type: none;
				padding: 0;
				width: 100%;
				transition: .4s all;
				a {
					display: block;
					color: #fff;
					padding: 16px 0;
					font-size: 1.6rem;
					font-weight: bold;
				}
			}
		}
	}
	nav.globalnav_sp.active {
		display: block;
		opacity: 100;
		z-index: 11;
	}
	.header-menu2 {
		display: flex;
		.left {
			width: 6.5vw;
			height: 100%;
			font-size: 1vw;
			color: #fff;
			padding-top: 2.5vw;
			padding-bottom: 1.5vw;
			box-sizing: border-box;
			background-image: url(../img/header/flow.png);
			transition: all .3s;
      -webkit-transition: all .3s; 
    
			&:hover{
				opacity: 0.8; 
				filter: brightness(110%);
			} 

			a {
				color: #fff;
				display: block;
				text-align: center;
				line-height: 160%;
			}
		}
		.right {
			width: 6.5vw;
			height: 100%;
			font-size: 1vw;
			color: #fff;
			padding-top: 2.5vw;
			padding-bottom: 1.5vw;
			box-sizing: border-box;
			background-image: url(../img/header/reserve.png);
			transition: all .3s;
        -webkit-transition: all .3s; 
    
			&:hover{
				opacity: 0.8; 
				filter: brightness(110%); 

				}
			a {
				color: #fff;
				display: block;
				text-align: center;
				line-height: 160%;
			}
		}
	}
	@media screen and (max-width: 1024px) {
		.header-logo {
			width: 160px;
			img {
				width: 100%;
			}
		}
	}
	@media screen and (max-width:767px) {
		display: flex;
		min-height: 70px;
		.header-menu-pc {
			display: none;
		}
		.header-menu2 {
			display: none;
		}
		.hamburger {
			display: block;
			margin-left: auto;
		}
		nav.globalnav_sp {
			ul {
				margin: 0 auto;
				padding: 0;
				padding-top: 30px;
				width: 100%;
				li {
					list-style-type: none;
					padding: 0;
					width: 100%;
					transition: .4s all;
					a {
						display: block;
						color: #fff;
						padding: 16px 0;
						font-size: 1.6rem;
						font-weight: bold;
						span {
							display: block;
							padding: 8px 0 0;
							color: #fff;
							font-size: 1.2rem;
						}
					}
				}
			}
		}
	}
}
