.l-header {
	display: flex;
	.header-logo {
		width: 13.5%;
		img {
			width: 100%;
		}
	}
	.header-menu-pc {
		width: 43%;
		margin-left: auto;
		ul {
			justify-content: space-around;
			list-style: none;
			display: flex;
			height: 100%;
			li {
				line-height: 100%;
				display: flex;
				align-items: center;
				a {
					color: #3E3A39;
					line-height: 100%;
					text-align: center;
				}
			}
		}
	}
	.header-menu2 {
		display: flex;
		.left {
			width: 6.5vw;
			height: 100%;
			font-size: 1vw;
			color: #fff;
			background-image: linear-gradient(to right,#38FFFA 25%,#37F2F9 50%,#37B9F7 75%,#37A3F7 100%);
		}
		.right {
			width: 6.5vw;
			height: 100%;
			font-size: 1vw;
			color: #fff;
			background-image: linear-gradient(to right top,#FFAA89 25%,#FD9D86 50%,#FB7D81 75%,#F74978 100%);
		}
	}
}
