.each-course-mainvisual{
  width:100%;
  position:relative;
  .each-course-mainvisual__title{
    color:#fff;
    font-size:2.9vw;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%)translateX(-50%);
    z-index:2
  }
  &:after{
    content:"";
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background:#231815;
    opacity:0.13;
    z-index:1;
  }
}