.about-bottom {
	letter-spacing:0.24em;
	margin-top: 4.8vw;
	margin-bottom: 10.7vw;
	.about-bottom-company {
		padding-right: 7vw;
		padding-left: 8vw;
		h4 {
			font-size: 2.2vw;
			line-height: 2.5vw;
			letter-spacing: 0.24em;
			img {
				width: 6vw;
				line-height: 6.2vw;
				margin-right:5px;
			}
		}
		.company-logo {
			margin-top: 5vw;
			margin-bottom: 3.4vw;
			display: flex;
			.company-logo-l {
				width: 28.7%;
			}
			.company-logo-r {
				width: 220px;
				transition: all .3s;
				-webkit-transition: all .3s; 
		
				&:hover{
					opacity: 0.8; 
					filter: brightness(110%); 
				}
			}
	
		}
		.company-info {
			display: flex;
			margin-bottom: 5vw;
			p {
				font-size: 1.2vw;
				line-height: 1.7vw;
			}
			.company-info-1 {
				width: 27vw;
				br.sp-block {
					display: none;
				}
			}
			.company-info-2 {
				width: 27vw;
				br.sp-block {
					display: none;
				}
			}
		}
	}
	.about-bottom-project {
		padding-right: 7vw;
		padding-left: 8vw;
		h4 {
			font-size: 2.2vw;
			letter-spacing: 0.24em;
			margin-bottom: 4.5vw;
			img {
				width: 6.2vw;
				line-height: 6.4vw;
				margin-right:5px;
			}
		}
		p {
			font-size: 1.2vw;
			line-height: 2.5vw;
		}
		.about-project-inner {
			display: flex;
		}
	}
	@media screen and (max-width: 1240px) {
		.about-bottom-company {
			.company-logo {
				.company-logo-l {
					width: 300px;
				}
				.company-logo-r {
					width: 220px;
				}
			}
		}
	}
	@media screen and (max-width: 1024px) {
		.about-project-right {
			width: 40%;
			img {
				width: 100%;
			}
		}
	}
	@media screen and (max-width: 767px) {
		.about-bottom-company {
			margin:50px 0;
			padding-right: 7vw;
			padding-left: 8vw;
			h4 {
				font-size: 4.5vw;
				line-height: 5.5vw;
				margin-bottom:5vw;
			}
			.company-logo {
				width: 60%;
				display: block;
				margin-top: 5vw 0;
				.company-logo-l {
					width: 100%;
				}
				.company-logo-r {
					margin:10px 0;
					width: 80%;
					a {
						width: 100%;
						img {
							width: 100%;
						}
					}
				}
				img {
					width: 100%;
				}
				a {
					display: block;
					width: 70%;
					img {
						width: 100%;
					}
				}
			}
			.company-info {
				display: block;
				margin-bottom: 5vw;
				p {
					font-size: 3.3vw;
					line-height: 4.5vw;
					line-height:calc(24px + 12 * (100vw - 320px) / 447);
					
				}
				.company-info-1 {
					width: auto;
					margin-bottom:10px;
					br.sp-block {
						display: block;
					}
				}
				.company-info-2 {
					width: auto;
					br.sp-block {
						display: block;
					}
				}
			}
		}
		.about-bottom-project {
			padding-right: 7vw;
			padding-left: 8vw;
			margin:50px 0;
			h4 {
				font-size: 4.5vw;
				line-height: 5.5vw;
				margin-bottom:5vw;
			}
			.about-project-inner {
				display: block;
				p {
					font-size: 3.3vw;
					line-height: 4.5vw;
					line-height:calc(24px + 12 * (100vw - 320px) / 447);
				}
			}
			.about-project-right{
				margin:10px auto;
			}
		}
	}
}