.about-middle-sp-text {
	display: none;
}

@media screen and (max-width: 767px) {
	.about-middle-sp-text {
		display:block;
		p{
			margin: 3vh auto 0;
			width: 90%;
			letter-spacing:0.24rem;
			font-size: 3.3vw;
			line-height:calc(24px + 12 * (100vw - 320px) / 447);
		}
	}
}