.about-bottom {
	margin-top: 4.8vw;
	margin-bottom: 10.7vw;
	.about-bottom-company {
		padding-right: 7vw;
		padding-left: 8vw;
		h4 {
			font-size: 2.2vw;
			line-height: 2.5vw;
			letter-spacing: 0.24em;
			img {
				width: 6vw;
				line-height: 6.2vw;
			}
		}
		.company-logo {
			margin-top: 5vw;
			margin-bottom: 3.4vw;
			display: flex;
			.company-logo-l {
				width: 28.7%;
			}
			.company-logo-r {
				width: 220px;
			}
		}
		.company-info {
			display: flex;
			margin-bottom: 5vw;
			p {
				font-size: 1.2vw;
				line-height: 1.7vw;
			}
			.company-info-1 {
				width: 27vw;
			}
			.company-info-2 {
				width: 27vw;
			}
		}
	}
	.about-bottom-project {
		padding-right: 7vw;
		padding-left: 8vw;
		h4 {
			letter-spacing: 0.24em;
			img {
				width: 6.2vw;
				line-height: 6.4vw;
			}
		}
		p {
			font-size: 1.2vw;
			line-height: 2.5vw;
		}
		.about-project-inner {
			display: flex;
		}
	}
	@media screen and (max-width: 1240px) {
		.about-bottom-company {
			.company-logo {
				.company-logo-l {
					width: 300px;
				}
				.company-logo-r {
					width: 220px;
				}
			}
		}
	}
	@media screen and (max-width: 1024px) {
		.about-project-right {
			width: 40%;
			img {
				width: 100%;
			}
		}
	}
	@media screen and (max-width: 767px) {
		margin-top: 4.8vw;
		margin-bottom: 10.7vw;
		.about-bottom-company {
			padding-right: 7vw;
			padding-left: 8vw;
			h4 {
				font-size: 4.5vw;
				line-height: 5.5vw;
			}
			.company-logo {
				width: 60%;
				display: block;
				margin-top: 5vw;
				margin-bottom: 3.4vw;
				.company-logo-l {
					width: 100%;
				}
				.company-logo-r {
					width: 80%;
					a {
						width: 100%;
						img {
							width: 100%;
						}
					}
				}
				img {
					width: 100%;
				}
				a {
					display: block;
					width: 70%;
					img {
						width: 100%;
					}
				}
			}
			.company-info {
				display: block;
				margin-bottom: 5vw;
				p {
					font-size: 3.3vw;
					line-height: 4.5vw;
				}
				.company-info-1 {
					width: auto;
				}
				.company-info-2 {
					width: auto;
				}
			}
		}
		.about-bottom-project {
			padding-right: 7vw;
			padding-left: 8vw;
			h4 {
				font-size: 4.5vw;
				line-height: 5.5vw;
			}
			p {
				font-size: 3.3vw;
				line-height: 4.5vw;
			}
			.about-project-inner {
				display: block;
			}
		}
	}
}