.about-middle {
	background-image: url(../img/about/davinci.png);
	margin-left: 7.5vw;
	margin-right: 4.5vw;
	margin-bottom: 5vw;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: right;
	.sp-block {
		display: none;
	}
	h2 {
		font-size: 2.8vw;
		padding-top: 6vw;
		line-height: 3.4vw;
		letter-spacing: .24em;
		margin-bottom: 2.5vw;
		font-family: ten-mincho-text, serif;
		font-weight: 400;
		text-align: initial;
		font-style: normal;
	}
	h3 {
		font-size: 2.3vw;
		line-height: 3.4vw;
		letter-spacing: .24em;
		font-family: ten-mincho-text, serif;
		margin-bottom: 2.4vw;
	}
	p {
		letter-spacing: .24em;
		font-size: 1.2vw;
		line-height: 2.4vw;
		font-family: ten-mincho-text, serif;
	}
	@media screen and (max-width:767px) {
		margin: 3vh 5% 0;
		background-repeat: no-repeat;
		background-size: contain;
		background-position: right;
		height: 27vh;
		.sp-block {
			display: block;
		}
		h2 {
			font-size: 5vw;
			line-height: 6vw;
			padding-top: 6vw;
			letter-spacing: .24em;
			margin-bottom: 2.5vw;
			font-family: ten-mincho-text, serif;
			font-weight: 400;
			text-align: initial;
			font-style: normal;
		}
		h3 {
			font-size: 4.5vw;
			line-height: 5.5vw;
			letter-spacing: .24em;
			font-family: ten-mincho-text, serif;
			margin-bottom: 2.4vw;
		}
		p {
			font-size: 3.3vw;
			line-height: 4.5vw;
			letter-spacing: .15em;
		}
		.about-middle-text {
			display: none;
		}
	}
}